<section>
  <div class="row mb-0">
    <div class="col s12 m6 hiding-frame">
      <div id="gallery-wrapper" class="gallery-wrapper">
        <canvas style="background-color: rbga(200,200,80,0.3);" width="15" height="10" id="gallery-content" class="gallery-content">
        </canvas>
      </div>
    </div>
    <div class="col s12 m6">
      <h2 class="light">The BioJS community created over 140 components for everyday's developer's use</h2>
      <p>The community is waiting for your input. Explore some of our most interesting components.</p>
      <h3 class="biojs-pink-text">Component Title</h3>
      <p class="biojs-white-text">Component Abstract</p>
    </div>
  </div>

</section>

